.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.item .title-movie :hover {
    text-decoration: none;
}
.notify-badge{
    position: absolute;
    /* top: -8em;
    right: -12.2em; */
    right: -63px;
    top: -204px;
    /* para 6 card */
    /* right: -58px;
    top: -119px; */ 
    background-color: black;
    /* background: rgb(23, 206, 181); */
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
    text-shadow: none;
}

.notify-badge-details-1{
    right: -4px;
    top: -12px;
    color: black;
    background: none;
    font-weight: bold;
}

.notify-badge-details-2{
    right: 315px;
    top: 83px;
    background-color: #343a4091;
}

.title-movie-details-h1 {
    padding-bottom: 0;
    font-size: 3rem;
}

.icon-star{
    color: yellow;
    font-size: 34px;}